@import '../controls.scss';

.select {
    @extend %inputBase;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z' fill='rgba(117, 117, 117, 0.999)' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7em top 50%;
    background-size: 1.25rem;
    cursor: pointer;
    padding: 0.6em 1.9em 0.5em 0.8em;
    padding: var(--spacing-third) var(--spacing-single) var(--spacing-third)
        var(--spacing-half);
    width: 100%;

    &::-ms-expand {
        display: none;
    }

    option {
        font-weight: var(--font-weight-sans-normal);
    }
}
